<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Goodahead\OrderSync\Api\Data\DispatchMessageInterface"
                type="Goodahead\OrderSync\Model\Queue\DispatchMessage"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="goodahead_ordersync_status" xsi:type="object">Goodahead\OrderSync\Console\Command\StatusCommand</item>
                <item name="goodahead_ordersync_retry" xsi:type="object">Goodahead\OrderSync\Console\Command\RetryCommand</item>
                <item name="goodahead_ordersync_reconcile" xsi:type="object">Goodahead\OrderSync\Console\Command\ReconcileCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Goodahead\OrderSync\Model\Payload\OrderPayloadBuilder">
        <arguments>
            <argument name="sections" xsi:type="array">
                <item name="identity" xsi:type="object">Goodahead\OrderSync\Model\Payload\Section\OrderIdentity</item>
                <item name="currency" xsi:type="object">Goodahead\OrderSync\Model\Payload\Section\Currency</item>
                <item name="totals" xsi:type="object">Goodahead\OrderSync\Model\Payload\Section\Totals</item>
                <item name="customer" xsi:type="object">Goodahead\OrderSync\Model\Payload\Section\Customer</item>
                <item name="payment" xsi:type="object">Goodahead\OrderSync\Model\Payload\Section\Payment</item>
                <item name="items" xsi:type="object">Goodahead\OrderSync\Model\Payload\Section\Items</item>
            </argument>
        </arguments>
    </type>
</config>
